.inputButton{
    width: 100px;
}


.board{
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    background-color: red;
  }
  
  .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: black;
  }
  
  .row {
    height: 20%;
    width: 90%;
    background-color: white;
  }