.main {
  height: 100vh;
  background: #eeaeca;
  background: -webkit-radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  background: -o-radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%); }

.header {
  margin: 0;
  text-align: center;
  padding: 20px 0; }

.gameEntry {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: #d3d3d380;
  text-align: center;
  margin: 30px auto; }

.title {
  font-size: 20px;
  padding: 25px 0; }

.sizeInput {
  display: inline;
  margin: 0 5px; }
  .sizeInput select {
    width: 100px;
    height: 30px; }
